body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: #0E375C;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  margin: 20px auto;
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #0E375C;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
}
